* {
    margin: 0;
    padding: 0;
    /* the box sizing will incluide border/padding inside the width you give it instead of adding on to it */
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    /* flex means how much it will grow/shrink in its container */
    flex: 1;
    text-align: right;
}

nav ul {
    /* instead of it being block, its only takes up as much space as the ul */
    /* positioning flow of inline elements while retaining the box-model features of block elements. This is commonly used to place items side by side without forcing line breaks (like a block element would) and without them being fully inline (so you can use margins, padding, widths, etc.). */
    display: inline-block;
    /* no * for the bullet points */
    list-style: none;
}

/* targetting li inside ul inside nav's  */
nav ul li {
    display: inline-block;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    /* sets the width of the container to be only 1500px */
    max-width: 1500px;
    /* makes the container in the center of the page */
    margin: auto;
    /* adds in padding only on the left and right by 25 more pixels */
    padding: 0 25px;
}

/* this whole section until h1 i don't understand how it works */
/* esp flex-basis... */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

/* increases font size, makes some height between each line, then margin for top and bottom only */
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

header {
    background: radial-gradient(#fff,#ffd6d6);
}